<!-- layout.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/users/registerForm}">Register</a></li>
            <li><a th:href="@{/users/loginForm}">Login</a></li>
            <li><a th:href="@{/users/logout}">Logout</a></li> 
            <li><a th:href="@{/events}">Events</a></li> 
            <li><a th:href="@{/events/create}">Create Event</a></li> 
            <li><a th:href="@{/events/search}">Search Events</a></li>
             
        </ul>
    </nav>
    <div layout:fragment="content">
        <!-- Content will be inserted here -->
    </div>
</body>
</html>
<!-- end of file -->